h1 {
    color: blue;
    size: 20px;
}

a {
    color: blue;
}

body {
    margin: 10px;
}

.topelement {
    margin: 50px 40px 0px 40px;
}

.bottomelement {
    margin: 0px 40px 120px 40px;
}

.pageelement {
    margin: 50px 40px 120px 40px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    max-width: none;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    max-width: none;
}

